/* 
font-family: 'Major Mono Display', monospace;
font-family: 'VT323', monospace;
font-family: 'Yomogi', cursive;
*/
@font-face {
    font-family: CuteBunny;
    src: url(./assets/CuteBunny.ttf);
}
@font-face {
    font-family: CuteBold;
    src: url(./assets/CuteBold.ttf);
}


body {
    font-family: sans-serif;
    background-color: black;
    color: white;
    background-image: url(./assets/giphyBG.png);
    background-size: cover;
    background-repeat: repeat;
}

.wrapper {
    padding-top: 10px;
    width: 80%;
    margin: 0 auto;
}

#label1 {
    color: violet;
    font-family: CuteBunny;
    text-shadow: 2px 2px #16B59D;
    font-size: 8em;    
}

h1 {
    text-align: center;
    color: teal;
}
h1 span {
    background-color: white;
}

h2 {
    font-size: 2em;
    font-weight: bolder;
    font-family: 'VT323', monospace;
    color: #16B59D;
    text-shadow: 2px 2px #9D16B5;
}
h2 span {
    background-color: white;    
}

h3 {
    color: violet;
    font-family: 'Yomogi', cursive;
    font-size: 26px;
    text-shadow: 1px 1px white;
}
h3 span {
    background-color: green;
}

img {
    float: left;
    padding-right: 20px;
    border-radius: 50px;
}

.btn-light {
    color: rgb(70, 255, 199);
    background: violet;
    font-size: 20px;
}

.btn-light:hover, .btn-light:focus, .btn-light:active {
    color: green;
    border-color: thistle;
}

a:link {
    font-family: 'Yomogi', cursive;
    text-decoration: none;
    font-size: 22px;
    font-weight: bolder;
    color: violet;
    background-color: #fff;
}

a:hover {
    text-decoration: underline wavy;
    color: teal;
}

a:visited {
    color: violet;
}

#display-fetch {
    padding-top: 20px;
}